<div>
  <div data-controller="map" data-map-ref="<%= source.ref %>" data-map-id="<%= source.id %>">

    <%=image_tag "mark", style:"display:none", "data-target":"map.mark"%>

    <% Mark.where(context: source.ref).each do |mark| %>
      <%=image_tag "mark",
                   "data-action": "click->map#unmark",
                   "data-mark-id": mark.uid,
                   style:"position:absolute;top:#{offset mark.top}px;left:#{offset  mark.left}px;z-index:1"
      %>
    <% end %>

    <%=image_tag "body_map",
                 style: "position:relative;",
                 "data-action": "click->map#mark"

    %>
  </div>
</div>